In [3]:
import pandas as pd
movies = pd.read_csv("ml-25m/movies.csv") # retrieves list of over 65k movies
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [4]:
#clean data with regex
import re

#function that cleans a single title
def clean_title(title):
    title = re.sub("[^a-zA-Z0-9 ]", "", title)
    return title

#create a new column in dataframe called clean_title
#goes through each movie in title column and passes into clean_title function
movies["clean_title"] = movies["title"].apply(clean_title) 
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [8]:
#build search engine
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range=(1,2)) #makes search more accurate by searching in engrams
tfidf = vectorizer.fit_transform(movies["clean_title"]) #use vectorizer to turn set of titles into sets of numbers

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

#retrieves an array of 5 most similar titles
def search(title):
    title = clean_title(title) #clean title
    query_vec = vectorizer.transform([title]) #turn cleaned title into a set of numbers
    similarity = cosine_similarity(query_vec, tfidf).flatten() #returns how similar title is to each of the titles in dataset --> assigns similarity value to each title
    indices = np.argpartition(similarity, -5)[-5:] #returns an array of indices corresponding to 5 most similar titles to our search term
    results = movies.iloc[indices].iloc[::-1] #returns the list of movies using these indices
    
    return results

In [10]:
#build interactive widget that allows user to type in a movie and see search results for most similar titles
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value="",
    description="Movie Title:",
    disabled=False
)

movie_list = widgets.Output() #output widget to store results

#search set of titles and displays into output widget
def on_type(data):
    with movie_list:
        movie_list.clear_output() #remove anything already in movie list
        title = data["new"] 
        if len(title) > 3:
            display(search(title))

movie_input.observe(on_type, names='value')

display(movie_input, movie_list)

Text(value='', description='Movie Title:')

Output()

In [11]:
movie_id = 89745

ratings = pd.read_csv("ml-25m/ratings.csv")

#returns the set of users who liked the same movie (gave it a score of 5)
similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()

#returns the set of movies that similar_users also liked
similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]

In [12]:
#narrows down recommendation to >10% of similar users 
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
similar_user_recs = similar_user_recs[similar_user_recs > .10]
similar_user_recs

movieId
89745    1.000000
58559    0.573393
59315    0.530649
79132    0.519715
2571     0.496687
           ...
47610    0.103545
780      0.103380
88744    0.103048
1258     0.101226
1193     0.100895
Name: count, Length: 193, dtype: float64

In [13]:
#find the set of users who have rated a movie greater than 4 in the set of recommended movies - similar_user_recs
all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]

In [14]:
#finds percentage of all users who recommended movies in similar_user_recs
all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [15]:
#create a recommendation score by comparing percentages of how much similar users liked the movie and how much all other users liked the movies
#want movies that have a big difference between similar and all values
rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
rec_percentages.columns = ["similar", "all"]
rec_percentages

          similar       all
movieId
89745    1.000000  0.040459
58559    0.573393  0.148256
59315    0.530649  0.054931
79132    0.519715  0.132987
2571     0.496687  0.247010
...           ...       ...
47610    0.103545  0.022770
780      0.103380  0.054723
88744    0.103048  0.010383
1258     0.101226  0.083887
1193     0.100895  0.120244

[193 rows x 2 columns]

In [16]:
#score = ratio between similar and all (higher the score, better the recommendation)
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [17]:
rec_percentages = rec_percentages.sort_values("score", ascending=False)

In [18]:
#takes top 10 movie recs and merges them with movies set
rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")

,similar,all,score,movieId,title,genres,clean_title
17067,1.000000,0.040459,24.716368,89745,"Avengers, The (2012)",Action|Adventure|Sci-Fi|IMAX,Avengers The 2012
20513,0.103711,0.005289,19.610199,106072,Thor: The Dark World (2013),Action|Adventure|Fantasy|IMAX,Thor The Dark World 2013
25058,0.241054,0.012367,19.491770,122892,Avengers: Age of Ultron (2015),Action|Adventure|Sci-Fi,Avengers Age of Ultron 2015
19678,0.216534,0.012119,17.867419,102125,Iron Man 3 (2013),Action|Sci-Fi|Thriller|IMAX,Iron Man 3 2013
16725,0.215043,0.012052,17.843074,88140,Captain America: The First Avenger (2011),Action|Adventure|Sci-Fi|Thriller|War,Captain America The First Avenger 2011
16312,0.175447,0.010142,17.299824,86332,Thor (2011),Action|Adventure|Drama|Fantasy|IMAX,Thor 2011
21348,0.287608,0.016737,17.183667,110102,Captain America: The Winter Soldier (2014),Action|Adventure|Sci-Fi|IMAX,Captain America The Winter Soldier 2014
25071,0.214049,0.012856,16.649399,122920,Captain America: Civil War (2016),Action|Sci-Fi|Thriller,Captain America Civil War 2016
25061,0.136017,0.008573,15.865628,122900,Ant-Man (2015),Action|Adventure|Sci-Fi,AntMan 2015
14628,0.242876,0.015517,15.651921,77561,Iron Man 2 (2010),Action|Adventure|Sci-Fi|Thriller|IMAX,Iron Man 2 2010

In [22]:
#recommendation function
def find_similar_movies(movie_id):
    #find recommendations from similar users
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()
    similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]
    
    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
    similar_user_recs = similar_user_recs[similar_user_recs > .10]

    #finds out how common recommendations were among all users
    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

    #recommendation score
    rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]

    #sort recommendation scores in descending order
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    rec_percentages = rec_percentages.sort_values("score", ascending=False)
    
    return rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")[["score", "title", "genres"]]

In [23]:
movie_name_input = widgets.Text(
    value="",
    description="Movie Title:",
    disabled=False
)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 3:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

movie_name_input.observe(on_type, names="value")

display(movie_name_input, recommendation_list)

Text(value='', description='Movie Title:')

Output()